.message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  span {
    text-align: center;
    max-width: 80%;
  }
}

@media(max-width:1000px) {
  .message {
    display: none;
  }
}