.mobile-menu {

    @media(min-width:1000.01px) {
        display: none;
    }

    @media(max-width:1000px) {
        display: block;
    }

    &.active {
        .mobile-menu {
            &__list {
                transform: translateX(0%);
                opacity: 1;
                visibility: visible;
            }

            &__social {
                &.social {
                    .social {
                        &__item {
                            transform: translateY(0%);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #000;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        position: relative;
        z-index: 1;
        transition: .3s ease-out;

        @media(max-width:480px) {
            font-size: 30px;
            line-height: 38px;
        }


    }

    &__list {
        max-height: 30vh;
        transform: translateX(10px);
        opacity: 0;
        visibility: hidden;
        overflow: auto;
        transition: .3s ease-out .3s;

    }

    &__list-wrap {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 20px 0;
        list-style: none;
        position: relative;
    }

    &__item {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000;
        position: relative;
    }

    &__social {
        &.social {
            display: flex;
            align-items: center;
            border-top: 1px solid #ccc;
            padding-top: 20px;
            position: relative;
            transition: .3s ease-out;



            .social {
                &__item {
                    display: block;
                    margin-left: 15px;
                    transform: translateY(20px);
                    opacity: 0;
                    visibility: hidden;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    -webkit-tap-highlight-color: transparent;

                    @media(max-width:480px) {
                        width: 50px;
                        height: 50px;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 50%;
                        height: 50%;
                    }

                    &:first-child {
                        margin-left: 0;
                    }

                    &:nth-child(1) {
                        transition: .3s ease-out .3s;
                    }

                    &:nth-child(2) {
                        transition: .3s ease-out .35s;
                    }

                    &:nth-child(3) {
                        transition: .3s ease-out .4s;
                    }

                    &:nth-child(4) {
                        transition: .3s ease-out .45s;
                    }

                    &:nth-child(5) {
                        transition: .3s ease-out .5s;
                    }

                    &--fb {
                        background: #4267B2;

                        &:after {
                            background: url(./images/icon-fb.svg) center / contain no-repeat;
                        }
                    }

                    &--vk {
                        background: #4c75a3;

                        &:after {
                            background: url(./images/icon-vk.svg) center / contain no-repeat;
                        }
                    }
                }
            }
        }
    }

    &__light-mode {
        width: 100px;
        height: 50px;
        cursor: pointer;
        position: absolute;
        bottom: 100px;
        right: 15px;
        -webkit-tap-highlight-color: transparent;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            transition: .3s ease-out;
            background: url(./images/day.png) right center/cover no-repeat;
            opacity: 1;
            visibility: visible;
            box-shadow: inset 0 0 5px -2px rgba(0, 0, 0, 0.5);
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            transition: .3s ease-in-out;
            background: url(./images/night.png) left center/cover no-repeat;
            opacity: 0;
            visibility: hidden;
            box-shadow: inset 0 0 5px -2px rgba(0, 0, 0, 0.5);
        }

        &.active {
            &:after {
                opacity: 1;
                visibility: visible;
                transition: .3s ease-out;
            }

            span {
                transform: translateX(calc(100% + 8px));
            }
        }

        span {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 42px;
            height: 42px;
            border-radius: 30px;
            background: #fff;
            z-index: 1;
            transition: .3s ease-out;
            box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);
        }
    }

}

.dark {
    .mobile-menu {
        &__link {
            color: rgba(255, 255, 255, .7);
        }

        &__social.social {
            border-top: 1px solid #000;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .mobile-menu {
        &__link {
            color: rgba(255, 255, 255, .7);
        }

        &__social.social {
            border-top: 1px solid #000;
        }
    }
}